[submodule "arduino"]
	path = sources/beacon/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "sources/receiver/components/arduino"]
	path = sources/receiver/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "lvgl"]
	path = sources/receiver/components/lvgl
	url = https://github.com/lvgl/lvgl.git
