sources/*/build/
sources/*/sdkconfig.old
sources/*/sdkconfig.ci
sources/*/managed_components/
sources/*/dependencies.lock

schematics/drone-beacon/drone-beacon-backups/
schematics/drone-beacon/drone-beacon.kicad_sch-bak
schematics/drone-beacon/~drone-beacon.kicad_pcb.lck
schematics/drone-beacon/production/backups/
